<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Zentrek</title>
   <meta name="description" content="Backpacking checklist generator for trek or hike">
   <link defer rel="stylesheet" href="/css/<%=name%>.css">
   <link defer rel="stylesheet" href="/css/style.css">
   <meta name="google-site-verification" content="jZuLHNxbDSCo9ZGRJb8r00ilYHVKTEKgvyrzoRg0MhE" />
   <link rel="icon" type="image/x-icon" href="css/favicon.png">
</head>