<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs',{...name}) %>

   <body>
      <nav>
         Zentrek
      </nav>
      <section id="firstSection">
         <h1 id="slogan">N'oubliez rien lors de votre prochaine aventure</h1>
         <h2 id="description">Obtenez une check list complète du materiel a emmener pour votre randonné, en fonction du
            climat, du terrain, de la durée, mais aussi de vos gouts.
         </h2>

         <a href="quizz">
            <button id="CTA" class="primary-btn">Essayer</button>
         </a>
      </section>
      <section id="secondSection">
         <h1>Facile a utiliser</h1>
         <div class="reason">
            <h2>Remplissez le quizz</h2>
            <ul>
               <li>Rapide et intuitif</li>
               <li>Grande variété de possibilités</li>
               <li>Aucune conservation des reponses</li>
            </ul>
         </div>
         <div class="reason">
            <h2>Generez votre check list</h2>
            <ul>
               <li>Generation instantanné</li>
               <li>Une checklist fonctionnelle</li>
               <li>Apparence epuré</li>
            </ul>
         </div>
         <div class="reason">
            <h2>Exportez la pour impression ou partager</h2>
            <ul>
               <li>Possibilité d'exporter en PDF</li>
               <li>Partage de la checklist avec le lien</li>
            </ul>
         </div>

      </section>

   </body>

</html>