<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs',{...name}) %>

   <body>
      <nav>
         Zentrek
      </nav>

      <h1 id="slogan">N'oubliez rien lors de votre prochaine aventure</h1>
      <h2 id="description">Obtenez une check list complète du materiel a emmener pour votre randonné, en fonction du
         climat, du terrain, de la durée, mais aussi de vos gouts.
      </h2>

      <a href="quizz">
         <button id="CTA" class="primary-btn">Essayer</button>
      </a>
   </body>

</html>