<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

   <body>
      <h1>Zentrek</h1>
      <h2>made with express</h2>
      <h3>Generate your checklist</h3>
      <p>to not <span>forget</span> anything when you go hiking</p>
      <br>
      <br>
      <section>
         <h1>Zentrek</h1>
         <h2>made with express</h2>
         <h3>Generate your checklist</h3>
         <p>to not <span>forget</span> anything when you go hiking</p>
      </section>

      <div>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime velit qui vitae sint, iure ullam totam neque
            inventore cupiditate animi!</p>
      </div>
      <button class="primary-btn">TRY ME</button>
      <button>Not important</button>
   </body>

</html>