#firstSection {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: url("./BG1.webp");
   background-position: left;
   background-size: cover;
   background-repeat: no-repeat;
   height: fit-content;
   min-height: 55vh;
}

#slogan {
   padding-bottom: 1rem;
   width: 100%;
   max-width: 800px;
}

#description {
   width: 100;
   width: 100%;
   max-width: 1000px;
   text-align: center;
   padding: 0rem 0.5rem;
   padding-bottom: 1rem;
}

#CTA {
   background-color: var(--accent);
   color: var(--black);
   animation: cta 1s infinite ease;
   -webkit-animation: cta 1s infinite ease;
}

#secondSection {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   background-color: var(--primary);
   justify-content: center;
}

#secondSection > h1 {
   width: 100%;
   padding-bottom: 1rem;
}

.reason {
   min-width: 500px;
   width: fit-content;
   padding: 1rem 2rem;
   text-align: left;
}

.reason > h2 {
   width: fit-content;
}

.reason > ul {
   width: fit-content;

   padding-top: 1rem;
   padding-left: 2rem;
}

.reason > ul > li {
   width: fit-content;

   font-size: 1.2rem;
}

#thirdSection {
   padding: 1rem;
   background-color: var(--accent);
   font-size: 1.1rem;
}

#thirdSection > h1 {
   padding-bottom: 2rem;
}

@keyframes cta {
   0% {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
   }

   50% {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
   }
}
