#firstSection {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: url("../landingPageBackground.webp");
   background-position: left;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 8rem 0rem;
   height: fit-content;
   min-height: 55vh;
}

#slogan {
   font-size: 3rem;
   font-weight: bolder;
   padding-bottom: 1rem;
   width: 100%;
   max-width: 800px;
}

#description {
   width: 100;
   width: 100%;
   max-width: 1000px;
   text-align: center;
   padding: 0rem 0.5rem;
   padding-bottom: 1rem;
}

#CTA {
   background-color: var(--accent);
   color: var(--black);
}

#secondSection {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   background-color: var(--primary);
   justify-content: center;
}

#secondSection > h1 {
   width: 100%;
   padding-bottom: 1rem;
}

.reason {
   min-width: 500px;
   width: fit-content;
   padding: 1rem 2rem;
   text-align: left;
}

@media (max-width: 700px) {
   #firstSection {
      min-height: 50vh;
   }

   .reason {
      min-width: 100vw;
   }
}

.reason > h2 {
   width: fit-content;
}

.reason > ul {
   width: fit-content;

   padding-top: 1rem;
   padding-left: 2rem;
}

.reason > ul > li {
   width: fit-content;

   font-size: 1.2rem;
}

#thirdSection {
   margin-top: 3rem;
   padding: 1rem;
   background-color: var(--white);
   font-size: 1.2rem;
}

#thirdSection > h1 {
   padding-bottom: 2rem;
}
