section {
   padding-left: 2rem;
   column-fill: balance;
   columns: 20rem;
   width: 100%;
}

.checkList-container {
   break-inside: avoid-column;
   margin: 0rem;
   height: fit-content;
   min-width: fit-content;
   width: 20rem;
   margin-bottom: 2rem;
}

input[type="checkbox"] {
   margin-right: 1rem;
   transform: scale(1.5);
}

.checkList-container > h2 {
   font-size: 2rem;
   font-weight: bolder;
   text-transform: uppercase;
   padding-bottom: 1rem;
}

.checkList > div {
   font-size: 1.5rem;
   padding-bottom: 0.1rem;
   padding-left: 1rem;
   text-transform: capitalize;
}
